@tailwind base;
@tailwind components;
@tailwind utilities;

/* *::-webkit-scrollbar {
  display: none;
} */

@supports not (aspect-ratio: 16 / 9) {
  .aspect-video::before {
    float: left;
    padding-top: 56.25%;
    content: "";
  }

  .aspect-video::after {
    display: block;
    content: "";
    clear: both;
  }
}